<!DOCTYPE html>
<html>
  <head>
    <title>BogAppTwo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
        <li><a class="btn-floating green" href="/creatures/new"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating yellow darken-3" href="/creatures"><i class="material-icons">contacts</i></a></li>
      </ul>
    </div>
    <br>
    <%= yield %>
  </body>
</html>
